.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 24px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 668px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 478px) {
  .footer {
    max-width: 186px;
    margin-top: 64px;
    margin-left: 16px;
  }
}